
# Ignore all files in any folder named 'data'
**/data/*

# Ignore all Python cache files and folders
**/__pycache__/
**/*.pyc

# Track the tests folder itself
!tests/

# Ignore files with 'test', 'testing', or 'temp' in their name (case-insensitive)
**/*[Tt]est*
**/*[Tt]esting*
**/*[Tt]emp*
